{{% extends 'base_generic.html' %}
{% block content %}


   <center> <form class="form" id="searchform" action="{% url 'search_s' %}" method="get">
    <div class="form-group">
    <input type="text" class="col-5  form-control-lg"  placeholder="enter student Roll_no or name or email" name="q" type="text"/>
    <button type="button"  class="btn btn-success form-control-lg" onclick="searchform.submit()">Search</button>
        </div>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
 <script src ="https://code.jquery.com/jquery-3.5.1.js"></script>
 <script src =" https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


    



    <div class="row" >
    
     
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.jqueryui.min.css">

    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.jqueryui.min.css">

    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/dataTables.jqueryui.min.js"></script>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.jqueryui.min.js"></script>

        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
 
        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>

        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.colVis.min.js"></script>

</form>
   </center>
   <table id="example" class="cell-border" style="width:100%">
    <thead>
        <tr>
            <th>Roll_No</th>
<th>Student_name</th>
<th>contact_no</th>
<th>branch</th>
<th>total_book_due</th>
<th>email</th>
<th>Pic</th>
        </tr>
    </thead>
    <tbody>
     
{% for entry2 in students %}
<tr>

<td> {{ entry2.roll_no }} </td>
<td> {{ entry2.name }} </td>
<td> {{ entry2.contact_no }} </td>
<td> {{ entry2.branch }} </td>
<td> {{ entry2.total_books_due }} </td>
<td> {{ entry2.email }} </td>
<td> {{ entry2.pic }} </td>
 </tr>
        
  
{% endfor %}
</tbody>
            <tfoot>
                <tr>
                    <th>Roll_No</th>
<th>Student_name</th>
<th>contact_no</th>
<th>branch</th>
<th>total_book_due</th>
<th>email</th>
<th>Pic</th>
                </tr>
            </tfoot>
            </table>

    <script>
            
      
 

            $(document).ready(function () {
                    var table = $('#example').DataTable({
                        lengthChange: false,
                        buttons: ['copy', 'excel', 'pdf', 'colvis']
                    });

                    table.buttons().container()
                        .insertBefore('#example_filter');
                });
            
        </script>

    </div>
{% endblock %}